.weather_search-panel {
  margin-bottom: 40px;
  text-align: center;
}

.weather_search-panel > *:not(:last-child) {
  margin-right: 15px;
}

@media screen and (max-width: 620px) {
  .weather_search-panel {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .weather_search-panel {
    display: flex;
    flex-direction: column;
  }

  .weather_search-panel .MuiInput-root {
    margin-bottom: 20px !important;
    margin-right: 0;
  }
}

