* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.MuiInput-root {
  color: #ffffff !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid #ffffff !important;
}

.MuiInput-underline:after {
  border-bottom: 1px solid #FC6600!important;
}

#modal-root > div {
  position: absolute;
  width: 600px;
  height: 100vh;
  overflow: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: rgba(255, 255, 255);
  border-radius: 4px;
  text-align: center;
}
