.settings__block,
.settings__icon {
  position: fixed;
  top: 20px;
  right: 20px;
}
.settings__block > *:not(:last-child) {
  margin-right: 20px;
}

.settings .language-select,
.settings  .MuiSelect-icon,
.settings  .change-bg-btn {
  color: #ffffff !important;
}

.settings .MuiButton-outlined {
  border: 1px solid #ffffff;
}

.settings__icon {
  display: none;
  z-index: 1;
}

.settings__close-icon {
  display: none;
  background-color: transparent;
  border: none;
  color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

@media screen and (max-width: 660px) {
  .settings__block {
    display: none;
  }

  .settings .mobile-view {
    flex-direction: column;
    position: absolute;
    background-color: rgba(0,0,128, 0.9);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 60px 30px 30px;
    z-index: 2;
  }

  .settings .mobile-view > * {
    width: 100%;
  }

  .settings .mobile-view > *:not(:last-child) {
    margin-bottom: 30px;
  }

  .settings__icon {
    display: block;
    color: #ffffff;
  }
}
